[submodule "lib/CMD"]
	path = lib/CMD
	url = https://github.com/AmazingCow-Libs/CMD.git
[submodule "lib/acow_cpp_goodies"]
	path = lib/acow_cpp_goodies
	url = https://github.com/AmazingCow-Libs/acow_cpp_goodies
[submodule "lib/CoreAssert"]
	path = lib/CoreAssert
	url = https://github.com/AmazingCow-Libs/CoreAssert
[submodule "lib/CoreFS"]
	path = lib/CoreFS
	url = https://github.com/AmazingCow-Libs/CoreFS
[submodule "lib/CoreDir"]
	path = lib/CoreDir
	url = https://github.com/AmazingCow-Libs/CoreDir
[submodule "lib/CoreINI"]
	path = lib/CoreINI
	url = https://github.com/AmazingCow-Libs/CoreINI
[submodule "lib/CoreFile"]
	path = lib/CoreFile
	url = https://github.com/AmazingCow-Libs/CoreFile
[submodule "lib/CoreString"]
	path = lib/CoreString
	url = https://github.com/AmazingCow-Libs/CoreString
